<div class="modal fade" id="note_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post A Note</h4>
      </div>
      <%= form_tag(notes_path ,method: :post,class: "form-horizontal")  do %>
        <%= hidden_field_tag :order_id %>
        <div class="modal-body">
          <label>Your Message:</label>
          <textarea rows="4" autofocus style="width:97%" id="message" name="message" placeholder="Write note here..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>