p.flash-msg {
  background-color : #fff1ab;
  padding : 5px;
  font-weight: bold;
  border:1px solid #EFDF95 ;
  text-align : center;
}  
.nowrap { white-space: nowrap; }
.breadcrumb { margin-bottom: 5px; padding: 4px; font-size: 11pt; background-color: #F6F6F6;
