<div><strong>Order: </strong> <%= @order.name%></div>
<br/>
<% if @files.present? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Files
      </div>
      <div class="panel-body">
        <table class="list-table table table-striped">
          <thead>
            <th>File Name</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @files.each do |file| %>
              <tr>
                <td><%= file.zip_identifier %></td>
                <% ext = File.extname(file.zip_identifier) %>
                <td>
                  <%# if ext != ".zip" %>
                    <!-- <a href='<%#= "#{file.zip_url}" %>' class="btn btn-sm btn-mini btn-success">view</a> -->
                  <%# end %>
                  <a href='<%= "#{file.zip_url}" %>' class="btn btn-sm btn-mini btn-primary">download</a>
                  <%#= link_to "download", download_zip_uploader_path(file), class: "btn btn-sm btn-mini btn-primary"%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% else %>
 <p class="flash-msg">No File Found.<%= link_to "Click Here to upload", new_order_zip_uploader_path(@order) if current_user.roles.where(name: ["Super Admin", "Admin"]).any? %></p>
<% end %>


