<%#= link_to "PaperLess", "javascript:void(0)", :class => 'brand' %>
  <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Orders', orders_path %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to (current_user.username), edit_user_registration_path, :class=>"pull-right" %>
      </li>
       <li >
        <%= link_to 'Logout', destroy_user_session_path , method: :delete %>
      </li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Login', new_user_session_path, :class=>"pull-right" %>
      </li>
    </ul>
  <% end %>
</ul>